.span-borda{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 45px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    font-size: 65px;
    border-bottom: 18px solid #05c19c;
}