@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@700&display=swap');


#nossas_acoes{
    width: 425px;
    margin-left: 15%;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

#nossas_acoes h1{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 55px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    font-size: 65px;
    width: 500px;
}

#nossas_acoes h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    height: 65px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 300;
    font-size: 48px;
    width: 1000px;
}

#span-borda{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 45px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 300;
    font-size: 48px;
    border-bottom: 18px solid #05c19c;
}

#div-carrossel{
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding-top: 65px;
    padding-bottom: 50px;
}

#carrossel img{
   border-radius: 10px;
}

#carrossel h3{
    font-family: 'Hind Vadodara', bold;
    font-weight: 500;
    font-size: 48px;


}

#carrossel p{
    font-family: 'Hind Vadodara', bold;
    font-weight: 500;
    font-size: 20px;

}

.h3_b{
    color: #212529;
}

.p_b{
    color: #212529;
}
