@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;600;700&display=swap');

/* main */
#quero_doar {
    width: 100%;

    margin-top: 40px;
    display: flex;
    flex-direction: column;


    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}


/* Header */
#quero_doar header {
    width: 800px;
    margin-left: 15%;
    line-height: 1.5;
}

#quero_doar header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 55px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    font-size: 65px;
    width: 1000px;
}

#h2_passos {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 55px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 300;
    font-size: 65px;
    width: 1000px;
}

/* Section */
#quero_doar section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#quero_doar section article {
    background-color: #CDF3EB;
    width: 500px;
    margin: 100px 30px;
    border-radius: 20px;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#quero_doar section article img {
    width: 230px;
    height: auto;
}

#quero_doar section article p {
    width: 250px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}

#quero_doar section article a {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    padding: 5px 60px;
    background-color: #05C19C;
    color: white;
    border-radius: 5px;
    transition: 400ms;
}

#span-borda-contribuir {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 45px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 300;
    font-size: 65px;
    border-bottom: 18px solid #05c19c;
}

#quero_doar section article a:hover {
    opacity: 0.5;
}

/*RESPONSIVIDADE FONTE*/
@media (max-width: 1280px) {
    #quero_doar header {
        margin-left: 10%;
    }
}

@media (max-width: 1230px) {
    #quero_doar header {
        margin-left: 5%;
    }
}
@media (max-width: 1150px) {
    #h2_passos {
        font-size: 40px;
    }
    #span-borda-contribuir {
        font-size: 40px;
        line-height: 2;
    }
}

@media (max-width: 830px) {
    #quero_doar header h1 {
        margin-top: 20px;
        height: 55px;
        font-size: 65px;
        width: 600px;
        line-height: 1;
    }
    #h2_passos {
        margin-top: 80px;
        height: 55px;
        font-size: 40px;
        line-height: 1;
    }
    #span-borda-contribuir {
        height: 70px;
        font-size: 40px;
        line-height: 1;
        border-bottom: 14px solid #05c19c;
    }
}

@media (max-width: 630px) {
    #h2_passos {
        width: 400px;
        height: 100px;
    }
}

@media (max-width: 610px) {
    #quero_doar header h1 {
        font-size: 60px;
    }
}

@media (max-width: 560px) {
    #quero_doar header h1 {
        font-size: 52px;
        width: 400px;
    }


















    #banner_img {
        border-top-right-radius: 100px;
    }
}






@media (max-width: 1150px) {

    #h2_acontecer {
        font-size: 40px;
        width: 500px;
        min-width: 500px;
    }

    #span-borda-fazemos {
        font-size: 40px;
        width: 500px;
        min-width: 500px;
        border-top: 10px;
        border-bottom: 14px solid #05c19c;
        line-height: 2.2;
    }
}

