@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#containerPrincipal-doacoes{
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    padding-top: 70px;
}
.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.box{
    display: flex;
    width: 930px;
}
#img-box-doacoes{
    background-image: "https://i.imgur.com/JeIA6aN.png";
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px  0 0 20px;
}
#img-box-doacoes img{
    width: 100%;
}
#form-box-doacoes{

    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 45%;
    border-radius: 0 20px 20px 0;
    box-shadow: 50px;
}
#form-box-doacoes h1{
    font-size: 55px;
    font-family: 'Bebas Neue';
}
#form-box-doacoes p{
    font-weight: bold;
    color: #3D3D3D;
}
#form-box-doacoes p a{
    color: #E67E22;
    text-decoration: none;
}
#form-box-doacoes form{
    margin: 20px 0;
}
form .input-group-doacao{
    margin-bottom: 15px;
}
form .input-group-doacao label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form .input-group-doacao input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .input-group-doacao input:focus{
    border-color: #E67E22;
}
form .input-group-doacao button{
    width: 100%;
    height: 47px;
    background: #E67E22;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
@media (max-width:950px) {
    #img-box-doacoes{
        display: none;
    }
    #form-box-doacoes{
        width: 700px;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;
    }
}
@media (max-width:500px) {
    .w50{
        width: 100%;
        padding: 0;
    }
}