.text-decorator-none {
    text-decoration: none;
}

.Card .content {
    width: 300px;
    margin: 20px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 28rem;
    box-shadow: 0 0 9px 0.1px rgba(0, 0, 0, 0.178);
    overflow: hidden;
    transition: transform 200ms ease-in;
    height: 500px;
}



__body {
    flex-grow: 1;
}

#Button {
    color: orange;
    border: none;
    border-top: 1px solid;
    background-color: rgba(255, 166, 0, 0.021);
    font-family: inherit;
    font-size: 1rem orange;
    font-weight: bold;
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

@media screen and (min-width:600px) {
    .img {
        grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
    }

    .Card {
        flex-direction: column;
        text-align: center;
        min-width: 14rem;
    }
}