.caixa{
    background-color: #05C19C;
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    border-color: rgb(255, 255, 255) !important;
    background-color: #E67E22 !important;
    color: rgb(255, 255, 255) !important;
    font-weight: bold !important;
}

.doacoes{
    background-color: white;
}