#background {
    position: absolute;
    width: 55%;
    top: -60px;
    right: 0px;
    max-width: 840px;
    max-height:1200px;
    padding-top: 50px;
}

@media (max-width: 1330px) {
    #background {
        top: -40px;
        right: -5%;
    }
}

@media (max-width: 1170px) {
    #background {
        top: -40px;
        right: -5%;
        width: 50%;
        transition: 900ms;
    }
}

@media (max-width: 1000px) {
    #background {
        display: none;
    }
}