#perfil-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: red;
}
/* CODIGO CONTAINER ESQUERDA*/
#perfil-container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 100vh;
    position: relative;
    background-color: blue;
    justify-content:flex-start;
}

#perfil-container-left-top{
    background-image: pink;
    align-items: center;
    justify-content: center;
    width: 60%;
}

#perfil-container-left-top h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

#perfil-avatar{
    width:25vw;
    height:25vw;
    margin: 0 auto;
}

#perfil-icon-edit{
    width:25vw;
    height:25vw;
}

/* CODIGO CONTAINER DIREITA*/

#perfil-container-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100vh;
    position: relative;
    background-color: green;
    justify-content:flex-start;
}

#perfil-container-right-top{

    width: 100%;
    margin-top: 30px;
}

#perfil-container-right-top h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    font-size: 40px;
}