@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

nav {
    position: fixed;
    top: 0;
    width: 99%;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* menu_buttons */
#menu_buttons a {
    text-decoration: none;
    margin: 70px 50px 70px 50px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
}

#menu_buttons :nth-child(1){
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    transition-delay: 800ms;
}

#menu_buttons :nth-child(1):hover{
    background-color: rgba(255, 166, 0, 0.712);
    border: 1px solid black;
    color: black;
}

/* menu_social_media */

#menu_social_media svg {
    width: 43px;
    height: 45px;
    transition-delay: 800ms;
}