#container-cards {
    width: 10px;
}

#titulo-doacao {
    font-weight: bold;
}

#contato-doacao {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.largura {
    padding-top: 90px;
    width: 100%;
}
#Cardsd{
    width: 200px;
    margin: 0px 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    min-width: 35rem;
    box-shadow: 0 0 9px 0.1px rgba(194, 118, 18, 0.178);
    overflow: hidden;
    transition: transform 200ms ease-in;
    cursor:pointer;

}
#imagem-doacao {
    width: 100%;
    height: 12rem;
    max-width: 250px;
    object-fit: cover;
}