@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Estilo do menu navbar"*/
#menu {

    top: 0;
    width: 98%;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Estilo dos botoes do menu navbar"*/
.menu-item {
    cursor: pointer !important;
    color: #331B3B !important;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 60px;
}

/* Estilo do botao "Logo Doaqui"*/
#button-logo{
    cursor: pointer !important;
    padding: 10px 30px !important;
    border-radius: 10px !important;
    background-color: #E67E22 !important;
    color: white !important;
    
}

/* Efeito quando passa o mouse em cima do botao "Logo Doaqui"*/
#button-logo:hover{
    background-color: #331B3B !important;
    color: white !important;
}

/* Facebook, instagram e Linkedin*/
#menu_social_media svg {
    width: 43px;
    height: 45px;
}

/* colocar borda interna
outline: 4px solid white;
outline-offset: -4px;
*/