@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Estilo do menu navbar"*/
#menu {

    top: 0;
    width: 98%;
    height: 70px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;

}

nav section {
    z-index: 1;
}

nav section a {
    text-decoration: none;
    margin-left: 0.5rem;

    padding: 10px 30px;
    border-radius: 5px;
    color: black;

    transition: 900ms;

    z-index: 1;
}

nav section a:hover {
    background-color: rgba(255, 166, 0, 0.307);
}

nav section svg path{
    color:green;
}

nav section svg:hover {
    fill: rgba(255, 166, 0, 0.327);
    transform: scale(1.1);
}

#menu_sections :nth-child(1){
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 10px 40px;
    margin-left: 1rem;
    background-color: rgb(255, 166, 0);
    color: rgb(255, 255, 255);
}

#social_media {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 2px;
    margin-right: 25px;
    z-index: 2;
}

@media (max-width: 1200px) {
    nav {
        align-items: flex-start;
        padding: 50px 10px;    
    }

    nav section a {
        margin-left: 0.3rem;
        padding: 3px 10px;
        transition: 900ms;
    }

    #social_media {
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding-top:  0px;
        margin-right: 0px;

    }
}