#app {
   background-color: white;
}

#background {
    position: absolute;
    width: 50%;
    top: -50px;
    right: 0;
}

@media (max-width: 900px) {
    #background {
        display: none;
    }
}

/* https://th.bing.com/th/id/R.2a761787715ca71788aad1a28ab057ac?rik=yREJ2nAK9Ib9yg&riu=http%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f09%2fAll-White-Background-for-Desktop.jpg&ehk=faNX%2bOZ5%2bUeETjecR18frqYPLdGhJSkGcgcDgj4j%2fVk%3d&risl=&pid=ImgRaw&r=0 */