.titulo {
    font-weight: bold;

}

#doacoes {
    padding-top: 90px;
    width: 100%;

}

#h2_doacoes {
    margin-top: 10px;
    margin-bottom: 0px;
    height: 65px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 300;
    font-size: 48px;
    width: 1000px;
    padding-bottom: 70px;
}

#span-borda-tabdoacao{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 45px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    font-size: 65px;
    border-bottom: 18px solid #05c19c;
}